@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
@import url(//db.onlinewebfonts.com/c/ead4092f880f75ff0883ced1856b2c37?family=SF+Pro+Rounded);

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.section-padding{
    padding: 50px 0;
}

.btn:hover{
    letter-spacing: 2px;
}

.navbar-nav a{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand{
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000;
}

.navbar-nav .nav-item{
    margin: 0 20px;
}

.navbar-nav .nav-item a:hover{
    border-bottom: 3px solid #FF5555;
    color: #FF5555;
    transition: all 0.2s ease;
}

.container .btn {
    background-color: #FF5555;
    color: white;
    border-radius: 18px;
}

.informasi {
    margin: 166px 0px 166px;
    margin-bottom: 78px;
}

.informasi h2 {
    color: #404040;
}

.informasi h6 {
    color: #787878;
}

.informasi img {
    width: 69rem;
    margin: 30px 2px 50px;
}

.informasi .text p {
    text-align: justify;
}

.artikel .container .share{
    margin-bottom: 30px;
}

.artikel .container .share a{
    display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #C2C2C2;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
}

.artikel .container .share a:hover{
    color: white;
    background-color: #FFCF83;
}

.artikellain {
    margin: 20px 0px 51px;
    margin-bottom: 78px;
}

.artikellain .card {
    border: none;
}

.artikellain h2 {
    margin: 0px 0px 50px;
    font-family: SF Pro Rounded;
}

.artikellain .card-box img{
    display: inline-block;
    width: 100%;
}

.artikellain .card-box img:hover {
    transform: scale(1.1);
}

footer{
    margin-top: 50px;
}

.footer1 .container .row .col-md-2 p a:hover{
    color: #FFCF83;
}

.footer1 .container .row .share{
    margin-bottom: 30px;
}

.footer1 .container .row .share a{
    display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #C2C2C2;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
}

.footer1 .container .row .share a:hover{
    color: white;
    background-color: #FFCF83;
}

.footer1 .share .icons {
    color: #FFFFFF;
}

/* media queries */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .section-padding {
        width: 100%;
    }

}

@media only screen and (max-width: 767px){ 
    .informasi img {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 1590px) {
    
}
