@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.section-padding{
    padding: 50px 0;
}

.btn:hover{
    letter-spacing: 2px;
}

.navbar-nav a{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand{
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000;
}

.navbar-nav .nav-item{
    margin: 0 20px;
}

.navbar-nav .nav-item a:hover{
    border-bottom: 3px solid #FF5555;
    color: #FF5555;
    transition: all 0.2s ease;
}

.container .btn {
    background-color: #FF5555;
    color: white;
    border-radius: 18px;
}

.banner-image {
    background-image: url(../image/Vector.png);
    background-size: cover;
}

.banner-image .content h1 {
    margin-top: 163px;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
}

.banner-image .content p {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #787878;
}

.banner-image .content .city {
    width: 100%;
    margin-bottom: -25px;
    position: static;
}

.banner-image .content .rumah {
    /* width: 250px; */
    /* margin-bottom: 30px; */
    margin-top: -293px;
}

.profil {
    margin: 150px 70px 70px;
}

.profil h5 {
    color: #FF5555;
    font-family: 'Poppins', sans-serif;
}

.profil h2 {
    color: #404040;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
}

.profil p {
    color: #787878;
    font-family: 'Poppins', sans-serif;
}

.keunggulan {
    margin: 166px 70px 166px;
}

.keunggulan .text {
    margin-bottom: 50px;
}

.keunggulan .text h4 {
    color: #FF5555;
    font-family: 'Poppins', sans-serif;
}

.keunggulan .text h2 {
    color: #404040;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
}

.keunggulan .row .col-4 img {
    margin-bottom: 50px;
}

.keunggulan .row h4 {
    color: #404040;
    font-family: 'Poppins', sans-serif;
}

.keunggulan .row p {
    color: #787878;
    font-family: 'Poppins', sans-serif;
}

.video .text h2 {
    color: #404040;
}

.video .text p {
    color: #3A3B41;
}

button {
    border: none;
    background: none;
}

.video .link img {
    width: 50%;
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position:relative;
    padding:0px;
}
.btn-close {
    position:absolute;
    right:-30px;
    top:0;
}

.guru_staf {
    margin: 166px 0px 166px;
    background-color: #FFFAF2;
}

.guru_staf .text h2 {
    color: #404040;
    color: #FF5555;
}

.guru_staf .text h6 {
    color: #3A3B41;
}

.guru_staf .row img {
    width: 15rem;
    margin: 30px 2px 50px;
}

.guru_staf .text h4 {
    color: #404040;
}

.guru_staf .text p {
    color: #787878;
}

.mitra {
    margin: 0px 0px 100px;
}

.mitra .text {
    text-align: center;
}

.mitra .text h5 {
    color: #FF5555;
}

.mitra .text h2 {
    color: #404040;
}

.mitra .text p {
    color: #787878;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}

.mitra .row .col img {
    margin: 40px 36px 0px;
}

footer{
    margin-top: 50px;
}

.footer1 .container .row .col-md-2 p a:hover{
    color: #FFCF83;
}

.footer1 .container .row .share{
    margin-bottom: 30px;
}

.footer1 .container .row .share a{
    display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #C2C2C2;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
}

.footer1 .container .row .share a:hover{
    color: white;
    background-color: #FFCF83;
}

.footer1 .share .icons {
    color: #FFFFFF;
}

/* media queries */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .section-padding {
        width: 100%;
    }

    .banner-image {
        display: flex;
        width: 60%;
        padding-top: 10px;
    }

    .keunggulan .row div {
        padding: 30px;
        display: flex;
        align-items: center;
        color: white;
        display: flex;
        flex-direction: row;
    }

    .banner-image .content {
        padding: 40px 50px 0 0;
    }

    .banner-image .content h1 {
        margin-top: 50px;
        font-size: 48px;
        font-weight: bold;
    }

    .banner-image .content  a {
        font-size: 12px;
    }

    .informasi .container .row .image {
        padding: 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

@media only screen and (max-width: 767px){
    .section-padding{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-brand{
        font-size: 20px;
    }

    .navbar-brand img{
        height: 18px;
    }

    .navbar-nav{
        text-align: center;
    }

    .banner-text{
        padding: 40px 50px 0 0;
    }
    
    .banner{
        background-image: none;
    }

    .banner-text h1{
        margin-top: 50px;
        font-size: 20px;
        font-weight: bold;
    }

    .banner-text p{
        font-size: 12px;
    }
    
    .banner-text a{
        font-size: 12px;
    }

    .banner-img{
        display: block;
        width: 70%;
        padding-top: 10px;
    }

    .keunggulan{
        padding-top: 50px;
    }

    #keunggulan {
        height: 400px;
        width: 100%;
    }

    .keunggulan .row img{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;
        width: 60px;
    }

    .keunggulan .row h4 {
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        justify-content: center;
        justify-content: space-between;
    }

    .keunggulan .row p{
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        justify-content: center;
        justify-content: space-between;
    }

    .buku{
        width: 70%;
    }

    .tentang .row .col{
        margin: 0px 40px 0px;
    }
    .tentang .row .col h2{
        font-size: 20px;
        font-weight: bold;
    }

    .tentang .row .col h4{
        font-size: 20px;
        font-weight: bold;
    }

    .tentang .row .col p{
        font-size: 12px;
        margin: 0;
        padding-bottom: 10px;
    }

    .tentang-text a{
        font-size: 12px;
    }

    .gallery .row .col img {
        width: 80%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mitra .container .row .col img{
        width: 50%;
    }

    .informasi .row .col img {
        width: 80%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .video img {
        width: 100%;
        align-items: center;
    }
}

@media only screen and (min-width: 1590px) {
    .banner{
        background-image: url();
    }

    .banner-img{
        display: block;
    }
}
