@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.section-padding{
    padding: 50px 0;
}

.btn:hover{
    letter-spacing: 2px;
}

.navbar-nav a{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand{
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000;
}

.navbar-nav .nav-item{
    margin: 0 20px;
}

.navbar-nav .nav-item a:hover{
    border-bottom: 3px solid #FF5555;
    color: #FF5555;
    transition: all 0.2s ease;
}

.container .btn {
    background-color: #FF5555;
    color: white;
    border-radius: 18px;
}

.banner-image {
    background-image: url(image/Vector.png);
    background-size: cover;
}

.banner-image .content h1 {
    margin-top: 163px;
    text-align: center;
}

.banner-image .content p {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    color: #787878;
}

.banner-image .content .mail {
    width: 25rem;
    /* margin-left: -78px; */
    margin-top: 90px;
    margin-bottom: 108px;
    position: static;
}

.kontak {
    margin: 156px 0px 114px;
}

.kontak .row h1 {
    margin-bottom: 35px;
}

.kontak .row h6 {
    margin-bottom: 35px;
}

.kontak .row p {
    margin-bottom: 35px;
    color: #949494;
}

.kontak .row a {
    margin-bottom: 35px;
}

footer{
    margin-top: 50px;
}

.footer1 .container .row .col-md-2 p a:hover{
    color: #FFCF83;
}

.footer1 .container .row .share{
    margin-bottom: 30px;
}

.footer1 .container .row .share a{
    display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #C2C2C2;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
}

.footer1 .container .row .share a:hover{
    color: white;
    background-color: #FFCF83;
}

.footer1 .share .icons {
    color: #FFFFFF;
}

/* media queries */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .section-padding {
        width: 100%;
    }

    .banner-image {
        display: flex;
        width: 60%;
        padding-top: 10px;
    }

    .banner-image .content {
        padding: 40px 50px 0 0;
    }

    .banner-image .content h1 {
        margin-top: 50px;
        font-size: 48px;
        font-weight: bold;
    }

    .banner-image .content  a {
        font-size: 12px;
    }

}

@media only screen and (max-width: 767px){
    .section-padding{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-brand{
        font-size: 20px;
    }

    .navbar-brand img{
        height: 18px;
    }

    .navbar-nav{
        text-align: center;
    }

    .banner-text{
        padding: 40px 50px 0 0;
    }
    
    .banner{
        background-image: none;
    }

    .banner-text h1{
        margin-top: 50px;
        font-size: 20px;
        font-weight: bold;
    }

    .banner-text p{
        font-size: 12px;
    }
    
    .banner-text a{
        font-size: 12px;
    }

    .kontak .row .col img {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1590px) {
    .banner{
        background-image: url();
    }

    .banner-img{
        display: block;
    }
}