@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.section-padding{
    padding: 50px 0;
}

.btn:hover{
    letter-spacing: 2px;
}

.navbar-nav a{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand{
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000;
}

.navbar-nav .nav-item{
    margin: 0 20px;
}

.navbar-nav .nav-item a:hover{
    border-bottom: 3px solid #FF5555;
    color: #FF5555;
    transition: all 0.2s ease;
}

.container .btn {
    background-color: #FF5555;
    color: white;
    border-radius: 18px;
}

.informasi {
    margin: 166px 0px 166px;
    margin-bottom: 78px;
}

.informasi h2 {
    color: #404040;
}

.informasi h6 {
    color: #787878;
}

.informasi img {
    width: 69rem;
    margin: 30px 2px 50px;
}

.informasi .text p {
    text-align: justify;
}

.artikel .container .share{
    margin-bottom: 30px;
}

.artikel .container .share a{
    display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #C2C2C2;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
}

.artikel .container .share a:hover{
    color: white;
    background-color: #FFCF83;
}

.artikellain {
    margin: 20px 0px 51px;
    margin-bottom: 78px;
}

.artikellain h2 {
    margin-bottom: 40px;
}

.artikellain .row .col img {
    width: 333px;
    border-radius: 10px;
}

.artikellain .row .text{
    margin: 43px 0px 10px;
}

.artikellain .text h6 {
    color: #787878;
}

.artikellain .text p {
    color: #404040;
}

footer{
    margin-top: 50px;
}

.footer1 .container .row .col-md-2 p a:hover{
    color: #FFCF83;
}

.footer1 .container .row .share{
    margin-bottom: 30px;
}

.footer1 .container .row .share a{
    display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #C2C2C2;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
}

.footer1 .container .row .share a:hover{
    color: white;
    background-color: #FFCF83;
}

.footer1 .share .icons {
    color: #FFFFFF;
}